.logo {
    font-family: 'Raleway';
font-weight: 700;
font-size: 24px;
line-height: 1.16;
letter-spacing: 0.03em;
color: black;
@media screen and (min-width: 1200px) {
    font-size: 26px;
}
}
.web {
color: var(--brand-color);
}
.header__logo {
    padding-top: 16px;
    @media screen and (min-width: 768px) {
        padding-top: 26px;
        padding-bottom: 26px;
    }
    @media screen and (min-width: 1200px) {
        padding-top: 24px;
    padding-bottom: 25px;
    }
}
.studio {
    color: #FFFFFF;
}
.logo--white {
    color: #FFFFFF;
    }
.footer__logo {
margin-bottom: 20px;
text-align: center;
@media screen and (min-width: 1200px) {
    text-align: start;
}
}