.logo {
    font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: black;
}
.web {
color: var(--brand-color);
}
.header__logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
}
.studio {
    color: #FFFFFF;
}
.studio--color-black {
color: black;
}
.logo__white {
    color: #FFFFFF;
    }
.footer__logo {
margin-bottom: 20px;
text-align: center;
}