.social {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 30px;
}
.social__link {
    width: 44px;
    height: 44px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    background-color: var(--brand-color);
}
}
.social__icon {
    fill: #afb1b8;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .social__link:hover &,
    .social__link:focus & {
    fill: #FFFFFF;
}
}
.social--position__right {
    margin-left: 70px;
}
.social--position__left {
    margin-left: 0;
}
.social__icon--color-white {
    fill: #FFFFFF;
}