.clients__title {
    font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 30px;
@media screen and (min-width: 1200px) {
    margin-bottom: 50px;
}
}
.clients__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-bottom: 30px;
}
.clients_item {
    width: 100%;
    @media screen and (min-width: 768px) {
        width: calc((100% - 60px) / 3);
    }
    @media screen and (min-width: 1200px) {
        width: calc((100% - 150px) / 6);
    }
}
.clients__link {
    width: 210px;
    height: 92px;
    background-color: #FFFFFF;
    border-radius: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: 768px) {
        width: 226px;
    }
    @media screen and (min-width: 1200px) {
        width: 170px;
    }
    &:hover,
    &:focus {
    border-color: var(--brand-color);
}
}
.clients__icon {
    fill: #afb1b8;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .clients__link:hover &,
    .clients__link:focus & {
    fill: var(--brand-color);
}
}
