.footer {
    background-color: var(--background-color);
    padding-top: 60px;
}
.footer-container {
    height: 252px;
}
.contact-list {
    width: 231px;
}
.contact-adress__item {
    margin-bottom: 9px;
}
.contact-adress__link {
    font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.contact__item:not(:last-child) {
    margin-bottom: 9px;
}
.contact__link {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    color: var(--brand-color);
}
}
/* footer soc menu */
.footer-container {
    display: flex;
    align-items: baseline;
}
.social {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.social-menu__title {
    font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;
margin-left: 70px;
}
.social__link {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    background-color: var(--brand-color);
}
}
.socials__icon {
    fill: #FFFFFF;
    .socials__link:hover &,
    .socials__link:focus & {
    fill: #FFFFFF;
}
}
/* footer input */
.follow-block {
    margin-left: 93px;
    max-width: 570px;
    height: 86px;
}
.email__input {
    display: flex;
}
.follow-block__title {
    font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;
}
.email__modal {
    width: 358px;
    height: 50px;
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
font-size: 16px;
line-height: 1.25;
display: flex;
align-items: center;
letter-spacing: 0.03em;
margin-right: 12px;
padding-left: 16px;
color: rgba(255, 255, 255, 0.6);
outline: transparent;
background-color: transparent;
transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
        border-color: var(--brand-color);
    }
}