.table-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.card {
    transform: relative;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}
.card__bot {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-top: 0;
    padding: 20px 24px;
}
.card-bot__title {
    font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;
margin-bottom: 4px;
}
.card-bot__text {
    font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--text-color);
}
.card__top {
    position: relative;
    overflow: hidden;
}
.card__text {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
line-height: 1.56;
letter-spacing: 0.03em;
color: #FFFFFF;
background-color: rgba(33, 150, 243, 0.9);
padding: 63px 24px;
height: 100%;
transform: translateY(100%);
transition: transform 250ms linear;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
.card:hover & {
    transform: translateY(0);
}
}