.team {
    background-color: #F5F4FA;
    min-height: 648px;
}
.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.card-list__item {
    background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
width: 100%;
@media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
}
}
.team__title {
    font-weight: 700;
font-size: 28px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 30px;
@media screen and (min-width: 1200px) {
    font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 50px;
}
}
.card-list__name {
    font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
padding-top: 30px;
margin-bottom: 10px;
}
.card-list__text {
    font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--text-color);
margin-bottom: 16px;
}