.work {
    padding-top: 0;
    @media screen and (max-width: 1200px) {
        display: none;
    }
}
.work__list {
    display: flex;
    gap: 30px;
}
.work__item {
    transform: relative;
}
.work__title {
    font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 50px;
}
.work__text {
    font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
background-color: rgba(47, 48, 58, 0.8);
position: absolute;
z-index: 1;
bottom: 0;
width: 100%;
padding: 27px 0;
}
.work__wrap {
    position: relative;
}